/** Style**/
    body {background-color: #000000;}

  img {display: block;
      margin-left: auto;
      margin-right: auto;}

  h1 {text-align: center;
     margin-left: auto;
     margin-right: auto;}           

  h2 {text-align: center;
     margin-left: auto;
     margin-right: auto;}           

  p {text-align: center;
     margin-left: 75px;
     margin-right: 75px;}

/**Header **/

header{
  background:#000000;
  color:#ff0000;
  padding-top:30px;
  min-height:70px;
  }

header a{
  color:#ffc266;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
  }

header li{float:left;
  display:inline;
  padding: 0 20px 0 20px;
  }

header #branding{
  float:left;
  }

header #branding h1{  
       margin:0;
       }

.cc {
  object-fit: contain; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 200px;
  width: 200px;
  }

header nav{
  float:right;
  margin-top:10px;
  }

header .highlight, header .current a{
  color:#ff0000;
  font-weight:bold;
   }

header a:hover{
  color:#ffc266;
  font-weight:bold;
   }
